@*@model IEnumerable<Multilayered_Assignment.Models.ShoppingItemViewModel>*@
@using System.Dynamic;
@model dynamic
@{
    ViewData["Title"] = "Index";
    var productList = (List<ProductTShirtViewModel>)Model.productList;
    var shoppingP = productList.FirstOrDefault(m => true);

    var shoppingItems = (List<ShoppingItemViewModel>)Model.shoppingItems;
    var shoppingC = shoppingItems.FirstOrDefault(m => true);
}

<h1>Hier is uw Shopping Cart</h1>

<p>
    <a asp-action="Index" asp-controller="Home">Add more items</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(shoppingcart => shoppingcart.productID)*@
                @Html.DisplayNameFor(Sp => shoppingP.Name)
            </th>
            <th>
                @Html.DisplayNameFor(Sc => shoppingC.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(Sp => shoppingP.Price)
            </th>
            <th>
                Totaal Prijs
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in shoppingItems)
        {
            var product = productList.Find(p => p.ID == item.ProductId);
            var name = product.Name;
            var price = product.Price;
            var discount = item.Discount;
            var total = item.Amount * price * (1 - discount);
            <tr>
                <td>
                    @name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @price
                </td>
                <td>
                    @item.Amount (amount) * $@price  @(100 * discount) %(discount) = @total
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |*@
                    <a asp-action="Details" asp-route-id="@item.ProductId" asp-controller="ProductTShirtt">Details</a> |
                    <a asp-action="RemoveProductToCart" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
